<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Boilerplate</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <ul class="nav navbar-nav">
                <li class="{{item.class}}"
                    data-ng-repeat="item in navigationItems"
                    data-ng-show="auth.authorize(item.access)"
                    data-ng-class="{'not-active': isNotActive(item), 'active': isActive(item)}"
                    data-ui-sref-active="active"
                >
                    <a href="#"
                        data-ui-sref="{{item.state}}"
                    >{{item.title}}</a>
                </li>

                <li class="pull-right"
                    data-ui-sref-active="active"
                    data-ng-show="!auth.isAuthenticated()"
                >
                    <a href="#" data-ui-sref="auth.login">Login</a>
                </li>

                <li class="pull-right"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <a href="#" data-ng-click="logout()">Logout</a>
                </li>

                <li class="pull-right"
                    data-ui-sref-active="active"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <a href="#" data-ui-sref="profile.edit">{{user().username}}</a>
                </li>
              <li class="pull-right" data-ui-sref-active="active">
                <a href="#" data-ui-sref="auth.register">Create Account</a>
              </li>
            </ul>
        </div>
    </div>
</header>