<div class="form-register">
    <form name="registerForm" method="post" novalidate="novalidate">
        <h2 class="title panel">Please Register <span class="fa fa-heart"></span> </h2>

        <div class="form-group" data-show-errors>
            <input type="text" name="username" class="form-control username" placeholder="username"
                   autofocus autocomplete="off" required="required"
                   data-focus-on="username"
                   data-ng-model="account.username"/>
        </div>

      <div class="form-group" data-show-errors>
        <input type="text" name="email" class="form-control email" placeholder="email"
               autofocus autocomplete="off" required="required"
               data-focus-on="email"
               data-ng-model="account.email"/>
      </div>

        <div class="form-group" data-show-errors>
        <input type="password" name="password" class="form-control password" placeholder="password"
                   required="required"
                   data-ng-model="account.password"/>
        </div>


        <div class="form-group" data-show-errors>
        <input type="text" name="qualification" class="form-control qualification" placeholder="qualification"
                   required="required"
                   data-ng-model="account.qualification"/>
        </div>

        <button class="button radius round"
                data-ng-click="register()"
                data-ng-disabled="!registerForm.$valid">
                register
        </button>
    </form>
</div>
